.admin-header { color: #4D4D4D; font-size: 24px; margin: 1em 0; text-transform: uppercase; } 
.admin-header .small { color: #999; font-size: 16px; font-weight: normal; margin-left: 0.5em; text-transform: none; }

.w100{width: 100px;}
.w110{width: 110px;}
.w130{width: 130px;}
.w200{width: 200px;}
.w300{width: 300px;}
.w85{width: 85px;}
.w30{width: 30px;}
.w600{width: 600px;}
.w650{width: 650px;}
.w50{width: 50px;}
.w10{width: 10px;}

.clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0}

.pagination ul {margin: 0.5em 0 1em; padding: 0;}
.pagination ul li.inactive, .pagination ul li.inactive:hover {color: #BABABA;cursor: default;}
.pagination {/*height: 25px;*/width: 800px;}
.pagination ul li {float: left;list-style: none outside none;margin: 0;font-size: 1em;padding: 8px 0;line-height: 1em;}
.pagination ul li:hover {cursor: pointer;}
.pagination .curpage{border: 1px solid #999;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 30px;margin-top: 3px;padding: 4px 8px;cursor: default !important;-webkit-box-shadow: 0px 1px 7px #999;-moz-box-shadow: 0px 1px 7px #999;box-shadow: 0px 1px 7px #999;}

.suggestionsBox {position: absolute;margin: 5px 0px 0px 0px;min-width: 560px;padding:0px;background-color: #f5f5f5;border: 3px solid #c0c0c0;color: #000000;}
.suggestionList {margin: 0px;padding: 0px;}
.suggestionList ul li {list-style:none;margin: 0px;padding: 6px;border-bottom:1px dotted #666;cursor: pointer;}
.suggestionList ul li:hover {background-color: #FC3;color:#000;}
.suggestionList ul {font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#000000;padding:0;margin:0;}
.load{background-image:url(../images/loader.gif);background-position:right;background-repeat:no-repeat;}
#suggest {position:relative;}

/* PRINT DOCUMENTS
----------------------------------------------------------------------------------------*/
p.title {
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	line-height: 19px;
	margin: 2em 0 3em;
	font-family: Arial, Helvetica, sans-serif; 
}
p.title.right { text-align: right; }

p.colored { color: #17365D; font-size: 16px; line-height: 1.35em; }
.large p.colored { font-size: 18px; }
p.colored a { color: #17365D !important; }
p.title strong { font-family: 'Times New Roman', Times, serif; font-size: 24px; line-height: 1.1em;}
p.title.smaller strong { font-size: 26px; line-height: 1.2em; }
p.intend { text-indent: 2em; text-align: justify; }
td p.intend { text-indent: 1.95em; }
ul.nolist { list-style: none; }
ul.nolist li { font: 22px/1.4em 'Times New Roman', Times, serif !important; }
table.no-border td { border: 0 none !important; }
.grif { float: left; margin: 0; width: 450px; }
.grif.large { float: left; margin: 0; width: 485px; }
p.intend.main { font: 22px/1.4em 'Times New Roman', Times, serif !important; }
table.times td { font: 22px/1.4em 'Times New Roman', Times, serif !important; }
table.times td.sign { font-size: 24px !important; }
table.times td.padding { padding-top: 35px; }
